{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <p class="byline">
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format "2006-01-02" }}
        </time>
        {{ with .Site.Params.author.name }}· {{.}}{{ end }}
    </p>
    <content>
        {{ .Content }}
    </content>
    {{ with .Site.Params.author.email }}
        <p>
            <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
                {{ i18n "email-reply" }} ↪
            </a>
        </p>
    {{ end }}
{{ end }}
